* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  aling-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  /* margin: auto; */
  overflow: hidden;
}

header {
  background: #35424a;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

nav {
  background: #35424a;
  color: #ffffff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
